body {
         background-image: url(..//imagenes/depositphotos_376795502-stock-photo-white-recycled-paper-background-or.webp);
         font-family: monospace ;
         font-weight: 500;
         margin: 20px 10px 0 10px;
}

h1 {
        font-family: monospace ;
        font-size: 50px;
        font-weight: 500;
        margin: 20 10px 0 10px ;
      }

h2 {
        font-family: monospace ;
        font-size: 30px;
        font-weight: 500;
        margin: 20 10px 0 10px ;
        left: black;
}

