root {
    --small-mobile-font-size: 20px;
    --large-mobile-font-size: 22px;
    --desktop-font-size: 18px;
  }
  
  body {
    background-image: url(..//imagenes/depositphotos_376795502-stock-photo-white-recycled-paper-background-or.webp);
    font-family: sans-serif;
    font-weight: 500;
    margin: 20px 10px 0 10px;
  }
  
  button {
    background-color: black ;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 20px; /* fallback */
    font-size: var(--large-mobile-font-size);
    font-weight: 400;
    margin: 3px 0 0 0;
    padding: 14px;
  }
  
  button:disabled {
    color: #888;
    cursor: default;
  }
  
  button:not(:disabled):hover {
    background-color: #333;
    color: white;
  }
  
  div.explanation {
    font-size: 14px;
    margin: 10px 0 0 0;
  }
  
  section#cc-exp-csc div:not(:last-child) {
    margin: 0 10px 0 0;
  }
  
  h1 {
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 30px 0;
    padding: 0 0 10px 0;
  }
  
  input {
    border: 1px solid #ccc;
    font-size: 22px; /* fallback */
    font-size: var(--large-mobile-font-size);
    padding: 15px;
    width: 90%; /* fallback */
    width: calc(100% - 30px); /* full width minus padding */
  }
  
  input:not(:focus):invalid,
  input:not(:focus):invalid {
    color: red;
    outline-color: red;
  }
  
  label {
    display: block;
    font-size: 20px;
    font-size: var(--large-mobile-font-size);
    font-weight: 400;
    margin: 0 0 8px 0;
  }
  
  main {
    margin: 0 auto;
    max-width: 500px;
  }
  
  p {
    font-size: 19px;
    font-weight: 400;
  }
  
  form section {
    margin: 0 0 15px 0;
    position: relative;
  }
  
  form section:last-of-type {
      margin: 0 0 25px 0;
  }
  
  section#cc-exp-csc {
    display: flex;
    justify-content: space-between;
  }
  
  section#exp-csc select#cc-exp-month {
    margin: 0 10px 0 0;
    width: 67px;
  }
  
  section#exp-csc select#cc-exp-year {
    width: 99px;
  }
  
  select {
    background-color: white;
    border: 1px solid #ccc;
    font-size: var(--mobile-font-size);
    padding: 15px 15px 15px 11px;
    width: 100%; /* don't need to account for padding :/ */
  }
  
  @media (min-width: 400px) {
    body {
      margin: 40px 20px 0 20px;
    }
    button {
      font-size: 20px; /* fallback */
      font-size: var(--large-mobile-font-size);
    }
    div.explanation {
      font-size: 16px;
    }
    h1 {
      font-size: 36px;
      font-weight: 500;
      margin: 0 0 60px 0;
    }
    input {
      font-size: 22px; /* fallback */
      font-size: var(--large-mobile-font-size);
    }
    label {
      font-size: 22px; /* fallback */
      font-size: var(--large-mobile-font-size);
      margin: 0 0 10px 0;
    }
    p {
      font-weight: 300;
    }
    form section {
      margin: 0 0 40px 0;
    }
    form section:last-of-type {
      margin: 0 0 60px 0;
    }
  }
  
  @media (min-width: 500px) {
    body {
      margin: 70px 70px 0 70px;
    }
    button {
      font-size: 18px; /* fallback */
      font-size: var(--desktop-font-size);
    }
    section#cc-exp-csc div:not(:last-child) {
      margin: 0 20px 0 0;
    }
    h1 {
      font-size: 36px;
      font-weight: 100;
    }
    input {
      font-size: 18px; /* fallback */
      font-size: var(--desktop-font-size);
    }
    label {
      font-size: 18px; /* fallback */
      font-size: var(--desktop-font-size);
      margin: 0 0 10px 0;
    }
    form section {
        margin: 0 0 35px 0;   
    }
  }